<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CoEpi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6C9CF1B151EBFADFB1A779ADC1C269D40BBAE8B4</string>
				<key>dateExpires</key>
				<string>3/8/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VU7B7BR34W.org.coepi.ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VU7B7BR34W</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>VU7B7BR34W.org.coepi.ios</string>
				</array>
			</dict>
			<key>name</key>
			<string>CoEpi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca10da5b-9222-407b-b861-ad797f7d260f</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VU7B7BR34W</string>
				<key>name</key>
				<string>Scott M Leibrand</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
